:root {
  --primary-color: #056087;
  --danger-color: #870505;
  --modal-bg-color: rgba(103, 103, 103, 0.837);
}

[data-theme='light'] {
  --card-border-color: #000;
  --bg-color: #fff;
  --text-color: rgb(2, 4, 19);
  --flyout-bg-color: rgba(187, 187, 187, 0.837);
}

[data-theme='dark'] {
  --card-border-color: #fff;
  --bg-color: rgb(2, 4, 19);
  --text-color: #fff;
  --flyout-bg-color: rgba(221, 221, 221, 0.837);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.primary-btn {
  background-color: var(--primary-color);
}

.danger-btn {
  background-color: var(--danger-color);
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
